// VARIABLES
$primary-color-500: #FB8C00; // #DB0A5B roza, maybe #F64747,#F89406,#AE8D65,#C9AD78 MAIN COLOR
$primary-color-400: #FB8C00; // roza #E65F93
$primary-color-100: #999; // color for disabled
$secondary-color-500: #00E676;
$secondary-color-400: #CCFAE4;
$danger-color: #e24f4f;

$assets-url: "http://assets.pricepilot.io";
$backgrounds-url: "/img/backgrounds/";
$background-image: "hair.jpg";
$loaders-url: "/img/loaders/";
$loader-image: "ireland.gif";

$primary-color-disabled: $primary-color-100;
